h1 {
	text-align:center;
	font-size:35px;
	padding:30px;
	padding-bottom:70px;
	margin:0px;
	background-color:#E87F0C;
}
body {
		margin:0px;
		background-color:#FFC53F;
}
#A {
		display:grid;
		grid-template-columns:200px 1fr;
}
#B {
		border-right:5px solid #FF8000;
}
#C {
		text-align:center;
}
